<div align="center" style="font-size: larger;">
    <h3 align="center">Login Here </h3>
    <table border="0px" >

        <tr>
            Enter User name  <td class="add-td"><input type="text" [(ngModel)]="uname" placeholder="Enter User Name"></td>
        </tr>
        <tr>
            Enter Password <td class="add-td"><input type="password" [(ngModel)]="pwd" placeholder="Enter Password"></td>
        </tr>
       
       
    </table>
    <button align="center" (click)="validateUser()">Login</button>

</div>
